package ${base}#if("${module}"!="").${module}#end.model.dos;

import java.util.Date;

import lombok.Data;
import java.io.Serializable;

/**
* Created by ${author}
* Time ${time}
* Desc
*/
@Data
public class ${clazzName}DO implements Serializable {
#foreach($entry in $columnMap.entrySet())
    #set($column=$entry.value)
private ${column.simpleClazz} ${column.javaName};     //${column.comment}
#end
}