package ${base}#if("${module}"!="").${module}#end.manager;


import ${base}#if("${module}"!="").${module}#end.model.param.Create${clazzName}Param;
import ${base}#if("${module}"!="").${module}#end.model.param.Update${clazzName}Param;
import ${base}#if("${module}"!="").${module}#end.model.query.${clazzName}Query;
import ${base}#if("${module}"!="").${module}#end.model.dos.${clazzName}DO;

import java.util.List;

/**
* Created by ${author}
* Time ${time}
* Desc
*/
public interface ${clazzName}Manager {

/**
* 新增
* @param ${javaName}DO
* @return
*/
Long create${clazzName}(Create${clazzName}DO ${javaName}DO);

/**
* 查询
* @param ${javaName}Query
* @return
*/
${clazzName}DO get${clazzName}(${clazzName}Query ${javaName}Query);

/**
* 更新
* @param update${clazzName}Param
* @return
*/
int update${clazzName}(Update${clazzName}Param update${clazzName}Param);

/**
* count
* @param ${javaName}Query
* @return
*/
int count${clazzName}(${clazzName}Query ${javaName}Query);

/**
* 列表查询
* @param ${javaName}Query
* @return
*/
List
<${clazzName}DO> list${clazzName}(${clazzName}Query ${javaName}Query);
    }