package ${base}#if("${module}"!="").${module}#end.service;


import ${base}#if("${module}"!="").${module}#end.model.param.Create${clazzName}Param;;
import ${base}#if("${module}"!="").${module}#end.model.param.Update${clazzName}Param;
import ${base}#if("${module}"!="").${module}#end.model.query.${clazzName}Query;
import ${base}#if("${module}"!="").${module}#end.model.dto.${clazzName}DTO;
import ${base}#if("${module}"!="").${module}#end.model.PlainResult;
import ${base}#if("${module}"!="").${module}#end.model.ListResult;

/**
* Created by ${author}
* Time ${time}
* Desc
*/
public interface ${clazzName}Service {

/**
* 创建
* @param create${clazzName}Param
* @return
*/
PlainResult
<Long> create${clazzName}(Create${clazzName}Param create${clazzName}Param);

    /**
    * 查询
    *
    * @param ${javaName}Query
    * @return
    */
    PlainResult
    <${clazzName}DTO> get${clazzName}(${clazzName}Query ${javaName}Query);

        /**
        * 分页查询 最大200，默认20
        *
        * @param ${javaName}Query
        * @return
        */
        ListResult
        <${clazzName}DTO> list(${clazzName}Query ${javaName}Query);

            /**
            * 更新
            * @param update${clazzName}Param
            * @return
            */
            PlainResult
            <Integer> update${clazzName}(Update${clazzName}Param update${clazzName}Param);
                }