package ${base}#if("${module}"!="").${module}#end.utils;

import ${base}#if("${module}"!="").${module}#end.model.dos.${clazzName}DO;
import ${base}#if("${module}"!="").${module}#end.model.dto.${clazzName}DTO;
import ${base}#if("${module}"!="").${module}#end.model.param.Create${clazzName}Param;
import ${base}#if("${module}"!="").${module}#end.model.param.Update${clazzName}Param;


import java.util.ArrayList;
import java.util.Collections;
import java.util.List;


/**
* Created by ${author}
* Time ${time}
* Desc
*/
public class ${clazzName}TransUtils {

public static ${clazzName}DO trans2${clazzName}DO(Create${clazzName}Param create${clazzName}Param) {
${clazzName}DO ${javaName}DO = new ${clazzName}DO();

#foreach($entry in $columnMap.entrySet())
    #set($column=$entry.value)
    ${javaName}DO.set${column.clazzName}(create${clazzName}Param.get${column.clazzName}());
#end

return ${javaName}DO;
}

public static ${clazzName}DO trans2${clazzName}DO(Update${clazzName}Param update${clazzName}Param) {
${clazzName}DO ${javaName}DO = new ${clazzName}DO();

#foreach($entry in $columnMap.entrySet())
    #set($column=$entry.value)
    ${javaName}DO.set${column.clazzName}(update${clazzName}Param.get${column.clazzName}());
#end
return ${javaName}DO;
}


public static ${clazzName}DTO tran2${clazzName}DTO(${clazzName}DO ${javaName}DO) {
if (${javaName}DO == null) {
return null;
}

${clazzName}DTO ${javaName}DTO = new ${clazzName}DTO();

#foreach($entry in $columnMap.entrySet())
    #set($column=$entry.value)
    ${javaName}DTO.set${column.clazzName}(${javaName}DO.get${column.clazzName}());
#end

return ${javaName}DTO;
}

public static List
<${clazzName}DTO> trans2${clazzName}DTOList(List
    <${clazzName}DO> ${javaName}DOList) {
        if (${javaName}DOList == null) {
        return Collections.emptyList();
        }
        List
        <${clazzName}DTO> ${javaName}DTOList = new ArrayList<>();
            ${javaName}DOList.forEach(${javaName}DO -> ${javaName}DTOList.add(tran2${clazzName}DTO(${javaName}DO)));
            return ${javaName}DTOList;
            }
            }